body {
  font-family: Arial, sans-serif;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  margin: 0;
}

.navbar {
  background-color: #f8f9fa;
}

#spring,
#summer,
#fall,
#winter {
  position: fixed;
  width: calc(25% - 2px); /* 2px for border */
  height: 60px;
  text-align: center;
  cursor: pointer;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
}

#spring {
  bottom: 0;
  right: 0
}

#summer {
  top: 30px;
  left: 25%;
}

#fall {
  top: 0;
  left: 50%;
}

#winter {
  top: 0;
  left: 85%;
}

.container {
  max-width: 800px;
  margin-top: 100px;
  text-align: center;
}

.container h1 {
  margin-bottom: 20px;
}

/* styles.css */

/* Style for sun.jpg */
.sun-image {
  width: 180px; /* Adjust the width as needed */
}

/* Style for snow.webp */
.snow-image {
  width: 220px; /* Adjust the width as needed */
}

/* Style for spring.jpg */
.spring-image {
  width: 200px; /* Adjust the width as needed */
}

/* Style for fall.jpg */
.fall-image {
  width: 220px; /* Adjust the width as needed */
}

.container p {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.mark {
  background-color: #ffff66;
  padding: 5px;
  border-radius: 5px;
}

.filters {
  position: fixed;
  top: 20%;
  right: 0;
  width: 200px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filters label {
  display: block;
  margin-bottom: 10px;
}

.filters select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

/* Adjustments for smaller screens */
@media (max-width: 576px) {
  .navbar-brand {
      font-size: 1.2rem;
  }
  .navbar-nav .nav-link {
      font-size: 1rem;
  }
  .filters {
      width: calc(100% - 20px);
      left: 10px;
      top: initial;
      bottom: 20%;
  }
}
