<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event Marketplace</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='color.css') }}"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a id="season" class="navbar-brand" href="/">SeasonSync</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" id="spring" href="/events?season=spring"
            >Spring</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" id="summer" href="/events?season=summer"
            >Summer</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" id="fall" href="/events?season=fall">Fall</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="winter" href="/events?season=winter"
            >Winter</a
          >
        </li>
      </ul>
    </nav>

    <div class="container mt-5">
      <h1>Welcome to SeasonSync Marketplace!</h1>
      <p><mark>🌻☀️🍁❄️Find events near you based on season.🌻☀️🍁❄️</mark></p>
      <form action="/events" method="POST">
        <div class="form-group">
          <label for="city">Enter your city:</label>
          <input
            type="text"
            class="form-control"
            id="city"
            name="city"
            list="cityList"
            required
          />
          <datalist id="cityList">
            <!-- City suggestions will be populated here -->
          </datalist>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>

    <script>
      // JavaScript to fetch city suggestions from the OpenCage API
      const cityInput = document.getElementById("city");
      const cityList = document.getElementById("cityList");

      cityInput.addEventListener("input", function () {
        const inputValue = this.value.trim();
        if (inputValue === "") {
          cityList.innerHTML = "";
          return;
        }

        fetch(
          `https://api.opencagedata.com/geocode/v1/json?q=${inputValue}&key=3a2e2407966344f4bd35adc2253b99da`
        )
          .then((response) => response.json())
          .then((data) => {
            cityList.innerHTML = "";
            data.results.forEach((result) => {
              const option = document.createElement("option");
              option.value = result.formatted;
              cityList.appendChild(option);
            });
          })
          .catch((error) => {
            console.error("Error fetching city suggestions:", error);
          });
      });
    </script>
  </body>
</html>
